<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.uestc.lib.MSStudio.collecting.dao.CounpaSupplyMapper" >
  <resultMap id="BaseResultMap" type="edu.uestc.lib.MSStudio.collecting.model.CounpaSupply" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="Admcode" property="admcode" jdbcType="VARCHAR" />
    <result column="Year" property="year" jdbcType="VARCHAR" />
    <result column="HelpObject" property="helpobject" jdbcType="INTEGER" />
    <result column="PoverReducTarget" property="poverreductarget" jdbcType="INTEGER" />
    <result column="Fund" property="fund" jdbcType="DECIMAL" />
    <result column="ServiceNum" property="servicenum" jdbcType="INTEGER" />
    <result column="Skill" property="skill" jdbcType="VARCHAR" />
    <result column="Project" property="project" jdbcType="VARCHAR" />
    <result column="Audit" property="audit" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, Admcode, Year, HelpObject, PoverReducTarget, Fund, ServiceNum, Skill, Project, 
    Audit
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from counpasupp
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from counpasupp
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.uestc.lib.MSStudio.collecting.model.CounpaSupply" >
    insert into counpasupp (ID, Admcode, Year, 
      HelpObject, PoverReducTarget, Fund, 
      ServiceNum, Skill, Project, 
      Audit)
    values (#{id,jdbcType=INTEGER}, #{admcode,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, 
      #{helpobject,jdbcType=INTEGER}, #{poverreductarget,jdbcType=INTEGER}, #{fund,jdbcType=DECIMAL}, 
      #{servicenum,jdbcType=INTEGER}, #{skill,jdbcType=VARCHAR}, #{project,jdbcType=VARCHAR}, 
      #{audit,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.uestc.lib.MSStudio.collecting.model.CounpaSupply" >
    insert into counpasupp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="admcode != null" >
        Admcode,
      </if>
      <if test="year != null" >
        Year,
      </if>
      <if test="helpobject != null" >
        HelpObject,
      </if>
      <if test="poverreductarget != null" >
        PoverReducTarget,
      </if>
      <if test="fund != null" >
        Fund,
      </if>
      <if test="servicenum != null" >
        ServiceNum,
      </if>
      <if test="skill != null" >
        Skill,
      </if>
      <if test="project != null" >
        Project,
      </if>
      <if test="audit != null" >
        Audit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="admcode != null" >
        #{admcode,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="helpobject != null" >
        #{helpobject,jdbcType=INTEGER},
      </if>
      <if test="poverreductarget != null" >
        #{poverreductarget,jdbcType=INTEGER},
      </if>
      <if test="fund != null" >
        #{fund,jdbcType=DECIMAL},
      </if>
      <if test="servicenum != null" >
        #{servicenum,jdbcType=INTEGER},
      </if>
      <if test="skill != null" >
        #{skill,jdbcType=VARCHAR},
      </if>
      <if test="project != null" >
        #{project,jdbcType=VARCHAR},
      </if>
      <if test="audit != null" >
        #{audit,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.uestc.lib.MSStudio.collecting.model.CounpaSupply" >
    update counpasupp
    <set >
      <if test="admcode != null" >
        Admcode = #{admcode,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        Year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="helpobject != null" >
        HelpObject = #{helpobject,jdbcType=INTEGER},
      </if>
      <if test="poverreductarget != null" >
        PoverReducTarget = #{poverreductarget,jdbcType=INTEGER},
      </if>
      <if test="fund != null" >
        Fund = #{fund,jdbcType=DECIMAL},
      </if>
      <if test="servicenum != null" >
        ServiceNum = #{servicenum,jdbcType=INTEGER},
      </if>
      <if test="skill != null" >
        Skill = #{skill,jdbcType=VARCHAR},
      </if>
      <if test="project != null" >
        Project = #{project,jdbcType=VARCHAR},
      </if>
      <if test="audit != null" >
        Audit = #{audit,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.uestc.lib.MSStudio.collecting.model.CounpaSupply" >
    update counpasupp
    set Admcode = #{admcode,jdbcType=VARCHAR},
      Year = #{year,jdbcType=VARCHAR},
      HelpObject = #{helpobject,jdbcType=INTEGER},
      PoverReducTarget = #{poverreductarget,jdbcType=INTEGER},
      Fund = #{fund,jdbcType=DECIMAL},
      ServiceNum = #{servicenum,jdbcType=INTEGER},
      Skill = #{skill,jdbcType=VARCHAR},
      Project = #{project,jdbcType=VARCHAR},
      Audit = #{audit,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="getAllObject" resultType="java.util.HashMap" parameterType="java.lang.Integer">
    select 
    <include refid="Base_Column_List" />
    from counpasupp order by ID  DESC limit #{0},#{1}
  </select>

<update id="checkByID" parameterType="java.lang.Integer" >
    update counpasupp set Audit = #{0}
    where ID = #{1}
  </update>
  
</mapper>