<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.uestc.lib.MSStudio.collecting.dao.ProjectNameMapper" >
  <resultMap id="BaseResultMap" type="edu.uestc.lib.MSStudio.collecting.model.ProjectName" >
    <id column="Code" property="code" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Code, Name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from projectname
    where Code = #{code,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from projectname
    where Code = #{code,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.uestc.lib.MSStudio.collecting.model.ProjectName" >
    insert into projectname (Code, Name)
    values (#{code,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.uestc.lib.MSStudio.collecting.model.ProjectName" >
    insert into projectname
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        Code,
      </if>
      <if test="name != null" >
        Name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.uestc.lib.MSStudio.collecting.model.ProjectName" >
    update projectname
    <set >
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where Code = #{code,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.uestc.lib.MSStudio.collecting.model.ProjectName" >
    update projectname
    set Name = #{name,jdbcType=VARCHAR}
    where Code = #{code,jdbcType=INTEGER}
  </update>
</mapper>