<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.uestc.lib.MSStudio.collecting.dao.SchoolInfoMapper" >
  <resultMap id="BaseResultMap" type="edu.uestc.lib.MSStudio.collecting.model.SchoolInfo" >
    <id column="Admcode" property="admcode" jdbcType="VARCHAR" />
    <result column="Area" property="area" jdbcType="VARCHAR" />
    <result column="SchoolName" property="schoolname" jdbcType="VARCHAR" />
    <result column="SchoolAddr" property="schooladdr" jdbcType="VARCHAR" />
    <result column="TeleNumber" property="telenumber" jdbcType="VARCHAR" />
    <result column="RunCode" property="runcode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Admcode, Area, SchoolName, SchoolAddr, TeleNumber, RunCode
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from schoolinfo
    where Admcode = #{admcode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from schoolinfo
    where Admcode = #{admcode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="edu.uestc.lib.MSStudio.collecting.model.SchoolInfo" >
    insert into schoolinfo (Admcode, Area, SchoolName, 
      SchoolAddr, TeleNumber, RunCode
      )
    values (#{admcode,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{schoolname,jdbcType=VARCHAR}, 
      #{schooladdr,jdbcType=VARCHAR}, #{telenumber,jdbcType=VARCHAR}, #{runcode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.uestc.lib.MSStudio.collecting.model.SchoolInfo" >
    insert into schoolinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="admcode != null" >
        Admcode,
      </if>
      <if test="area != null" >
        Area,
      </if>
      <if test="schoolname != null" >
        SchoolName,
      </if>
      <if test="schooladdr != null" >
        SchoolAddr,
      </if>
      <if test="telenumber != null" >
        TeleNumber,
      </if>
      <if test="runcode != null" >
        RunCode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="admcode != null" >
        #{admcode,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="schoolname != null" >
        #{schoolname,jdbcType=VARCHAR},
      </if>
      <if test="schooladdr != null" >
        #{schooladdr,jdbcType=VARCHAR},
      </if>
      <if test="telenumber != null" >
        #{telenumber,jdbcType=VARCHAR},
      </if>
      <if test="runcode != null" >
        #{runcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.uestc.lib.MSStudio.collecting.model.SchoolInfo" >
    update schoolinfo
    <set >
      <if test="area != null" >
        Area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="schoolname != null" >
        SchoolName = #{schoolname,jdbcType=VARCHAR},
      </if>
      <if test="schooladdr != null" >
        SchoolAddr = #{schooladdr,jdbcType=VARCHAR},
      </if>
      <if test="telenumber != null" >
        TeleNumber = #{telenumber,jdbcType=VARCHAR},
      </if>
      <if test="runcode != null" >
        RunCode = #{runcode,jdbcType=VARCHAR},
      </if>
    </set>
    where Admcode = #{admcode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.uestc.lib.MSStudio.collecting.model.SchoolInfo" >
    update schoolinfo
    set Area = #{area,jdbcType=VARCHAR},
      SchoolName = #{schoolname,jdbcType=VARCHAR},
      SchoolAddr = #{schooladdr,jdbcType=VARCHAR},
      TeleNumber = #{telenumber,jdbcType=VARCHAR},
      RunCode = #{runcode,jdbcType=VARCHAR}
    where Admcode = #{admcode,jdbcType=VARCHAR}
  </update>
</mapper>