<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.uestc.lib.MSStudio.collecting.dao.SocialServiceMapper" >
  <resultMap id="BaseResultMap" type="edu.uestc.lib.MSStudio.collecting.model.SocialService" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="Admcode" property="admcode" jdbcType="VARCHAR" />
    <result column="Year" property="year" jdbcType="VARCHAR" />
    <result column="TrainStaff" property="trainstaff" jdbcType="INTEGER" />
    <result column="TrainUnabled" property="trainunabled" jdbcType="INTEGER" />
    <result column="TrainUnemStaff" property="trainunemstaff" jdbcType="INTEGER" />
    <result column="TrainFarmer" property="trainfarmer" jdbcType="INTEGER" />
    <result column="TrainRetireSoldier" property="trainretiresoldier" jdbcType="INTEGER" />
    <result column="SkillIdentNum" property="skillidentnum" jdbcType="DECIMAL" />
    <result column="TeachServe" property="teachserve" jdbcType="INTEGER" />
    <result column="Audit" property="audit" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, Admcode, Year, TrainStaff, TrainUnabled, TrainUnemStaff, TrainFarmer, TrainRetireSoldier, 
    SkillIdentNum, TeachServe, Audit
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from socialservice
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from socialservice
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.uestc.lib.MSStudio.collecting.model.SocialService" >
    insert into socialservice (ID, Admcode, Year, 
      TrainStaff, TrainUnabled, TrainUnemStaff, 
      TrainFarmer, TrainRetireSoldier, SkillIdentNum, 
      TeachServe, Audit)
    values (#{id,jdbcType=INTEGER}, #{admcode,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, 
      #{trainstaff,jdbcType=INTEGER}, #{trainunabled,jdbcType=INTEGER}, #{trainunemstaff,jdbcType=INTEGER}, 
      #{trainfarmer,jdbcType=INTEGER}, #{trainretiresoldier,jdbcType=INTEGER}, #{skillidentnum,jdbcType=DECIMAL}, 
      #{teachserve,jdbcType=INTEGER}, #{audit,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.uestc.lib.MSStudio.collecting.model.SocialService" >
    insert into socialservice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="admcode != null" >
        Admcode,
      </if>
      <if test="year != null" >
        Year,
      </if>
      <if test="trainstaff != null" >
        TrainStaff,
      </if>
      <if test="trainunabled != null" >
        TrainUnabled,
      </if>
      <if test="trainunemstaff != null" >
        TrainUnemStaff,
      </if>
      <if test="trainfarmer != null" >
        TrainFarmer,
      </if>
      <if test="trainretiresoldier != null" >
        TrainRetireSoldier,
      </if>
      <if test="skillidentnum != null" >
        SkillIdentNum,
      </if>
      <if test="teachserve != null" >
        TeachServe,
      </if>
      <if test="audit != null" >
        Audit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="admcode != null" >
        #{admcode,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="trainstaff != null" >
        #{trainstaff,jdbcType=INTEGER},
      </if>
      <if test="trainunabled != null" >
        #{trainunabled,jdbcType=INTEGER},
      </if>
      <if test="trainunemstaff != null" >
        #{trainunemstaff,jdbcType=INTEGER},
      </if>
      <if test="trainfarmer != null" >
        #{trainfarmer,jdbcType=INTEGER},
      </if>
      <if test="trainretiresoldier != null" >
        #{trainretiresoldier,jdbcType=INTEGER},
      </if>
      <if test="skillidentnum != null" >
        #{skillidentnum,jdbcType=DECIMAL},
      </if>
      <if test="teachserve != null" >
        #{teachserve,jdbcType=INTEGER},
      </if>
      <if test="audit != null" >
        #{audit,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.uestc.lib.MSStudio.collecting.model.SocialService" >
    update socialservice
    <set >
      <if test="admcode != null" >
        Admcode = #{admcode,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        Year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="trainstaff != null" >
        TrainStaff = #{trainstaff,jdbcType=INTEGER},
      </if>
      <if test="trainunabled != null" >
        TrainUnabled = #{trainunabled,jdbcType=INTEGER},
      </if>
      <if test="trainunemstaff != null" >
        TrainUnemStaff = #{trainunemstaff,jdbcType=INTEGER},
      </if>
      <if test="trainfarmer != null" >
        TrainFarmer = #{trainfarmer,jdbcType=INTEGER},
      </if>
      <if test="trainretiresoldier != null" >
        TrainRetireSoldier = #{trainretiresoldier,jdbcType=INTEGER},
      </if>
      <if test="skillidentnum != null" >
        SkillIdentNum = #{skillidentnum,jdbcType=DECIMAL},
      </if>
      <if test="teachserve != null" >
        TeachServe = #{teachserve,jdbcType=INTEGER},
      </if>
      <if test="audit != null" >
        Audit = #{audit,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.uestc.lib.MSStudio.collecting.model.SocialService" >
    update socialservice
    set Admcode = #{admcode,jdbcType=VARCHAR},
      Year = #{year,jdbcType=VARCHAR},
      TrainStaff = #{trainstaff,jdbcType=INTEGER},
      TrainUnabled = #{trainunabled,jdbcType=INTEGER},
      TrainUnemStaff = #{trainunemstaff,jdbcType=INTEGER},
      TrainFarmer = #{trainfarmer,jdbcType=INTEGER},
      TrainRetireSoldier = #{trainretiresoldier,jdbcType=INTEGER},
      SkillIdentNum = #{skillidentnum,jdbcType=DECIMAL},
      TeachServe = #{teachserve,jdbcType=INTEGER},
      Audit = #{audit,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>