<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Archetype Created Web Application</display-name>
	<!-- Spring和mybatis的配置文件 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring-mybatis.xml</param-value>
	</context-param>
	<!-- 编码过滤器 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- Spring监听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 防止Spring内存溢出监听器 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>

	<!-- Spring MVC servlet -->
	<servlet>
		<servlet-name>SpringMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-mvc.xml</param-value>
		</init-param>
		<init-param>  
            <description>过滤不成功转向地址</description>  
            <param-name>redirectPath</param-name>  
            <param-value>/login.jsp</param-value>  
        </init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<!-- 防止配置失败 -->
	<servlet-mapping>   
         <servlet-name>default</servlet-name>   
         <url-pattern>*.css</url-pattern>   
     </servlet-mapping>   
    
     <servlet-mapping>   
         <servlet-name>default</servlet-name>   
         <url-pattern>*.gif</url-pattern>   
     </servlet-mapping>   
    
     <servlet-mapping>   
         <servlet-name>default</servlet-name>   
         <url-pattern>*.jpg</url-pattern>   
     </servlet-mapping>   
    
     <servlet-mapping>   
         <servlet-name>default</servlet-name>   
         <url-pattern>*.js</url-pattern>   
     </servlet-mapping> 
     
     <servlet-mapping>   
         <servlet-name>default</servlet-name>   
         <url-pattern>*.png</url-pattern>   
     </servlet-mapping>
     
     <!-- <servlet-mapping>   
         <servlet-name>default</servlet-name>   
         <url-pattern>*.html</url-pattern>   
     </servlet-mapping> -->
     <!-- 配置错误页面 -->
	 <error-page>
	     <error-code>404</error-code>
	     <location>/error/404.jpg</location>
	 </error-page>
	 
	 <error-page>
	     <error-code>500</error-code>
	     <location>/error/500.jpg</location>
	 </error-page>
	 
	 <error-page>
	     <error-code>401</error-code>
	     <location>/error/401.jpg</location>
	 </error-page>
	 
	 <servlet-mapping>
		<servlet-name>SpringMVC</servlet-name>
		<!-- 此处可以可以配置成*.do，对应struts的后缀习惯 -->
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!-- 配置SESSION超时，单位是分钟 -->
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
	<!-- 配置 jstl 方便 jsp 页面的描绘 -->
	<jsp-config>  
	<taglib>  
	    <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>  
	    <taglib-location>/WEB-INF/fmt.tld</taglib-location>  
	  </taglib>  
	  
	  <taglib>  
	    <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>  
	    <taglib-location>/WEB-INF/c.tld</taglib-location>  
	  </taglib>  
	  
	  <taglib>  
	    <taglib-uri>http://java.sun.com/jstl/fn</taglib-uri>  
	    <taglib-location>/WEB-INF/fn.tld</taglib-location>  
	  </taglib>  
	  
	  <taglib>  
	    <taglib-uri>http://java.sun.com/jstl/perTag</taglib-uri>  
	    <taglib-location>/WEB-INF/permittedTaglibs.tld</taglib-location>  
	  </taglib>  
	  
	  <taglib>  
	    <taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>  
	    <taglib-location>/WEB-INF/sql.tld</taglib-location>  
	  </taglib>  
	  
	    <taglib>  
	    <taglib-uri>http://java.sun.com/jstl/script</taglib-uri>  
	    <taglib-location>/WEB-INF/scriptfree.tld</taglib-location>  
	  </taglib>  
	  
	  <taglib>  
	    <taglib-uri>http://java.sun.com/jstl/x</taglib-uri>  
	    <taglib-location>/WEB-INF/x.tld</taglib-location>  
	  </taglib>
	</jsp-config>
</web-app>
